/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/work-sans-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/work-sans-v19-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.container {
  max-width: 1090px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Work Sans", Arial, sans-serif;
  background-color: #2b2b2b;
  color: #fff;
  overflow-x: hidden;
}

.header {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.header__container {
  width: 1360px;
  height: 100px;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  margin: 0px 195px;
}
.header__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.header__list {
  display: flex;
  height: 46px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.header__li {
  list-style: none;
}
.header__link {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
}
.header__btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  height: 60px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background: #A259FF;
}
.header__btn:hover {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  height: 60px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  border: 1px solid #A259FF;
  border-radius: 20px;
  background: #010101;
}
.header__humberger {
  display: none;
}
@media only screen and (max-width: 1360px) {
  .header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__img1 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .header__img2 {
    width: 149.56px;
    height: 14.85px;
    flex-shrink: 0;
    fill: #FFF;
  }
  .header__box {
    display: none;
  }
  .header__humberger {
    display: block;
    width: 24px;
    height: 24px;
  }
}
@media only screen and (max-width: 375px) {
  .header__continer {
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
}

.creators {
  background-color: #2B2B2B;
  padding: 80px 0;
}
.creators__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.creators__title {
  color: #fFF;
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.creators__text {
  color: #FFF;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}
.creators__link {
  border-radius: 20px;
  border: 2px solid #A259FF;
  padding: 20px 50px;
  color: #FFF;
  font-weight: 600;
  line-height: 140%;
}
.creators__link img {
  vertical-align: middle;
  margin-right: 12px;
}
.creators__wrapper {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.creators__lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.creators__card {
  max-width: 240px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background: #3B3B3B;
  position: relative;
  margin-bottom: 30px;
}
.creators__card-index p {
  margin-top: 4px;
  position: absolute;
  border-radius: 50%;
  background-color: #2B2B2B;
  padding: 15px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #858584;
  text-align: center;
}
.creators__card-img {
  margin-bottom: 20px;
}
.creators__card-title {
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}
.creators__card-text {
  color: #858584;
  text-align: right;
  line-height: 140%; /* 22.4px */
}
.creators__card-price {
  color: #FFF;
  line-height: 140%;
  margin-left: 10px;
}

@media only screen and (max-width: 910px) {
  .creators {
    padding: 40px 0;
  }
  .creators__wrapper {
    padding-top: 40px;
  }
  .creators__title {
    font-size: 28px;
  }
  .creators__text {
    font-size: 16px;
    max-width: 343px;
  }
  .creators__lists {
    justify-content: start;
    gap: 30px;
  }
  .creators__card {
    max-width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
  }
  .creators__card-index p {
    top: 15px;
  }
  .creators__card-img {
    width: 60px;
    height: 60px;
  }
  .creators__card div {
    max-width: 210px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .creators__link {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .creators {
    padding-bottom: 160px;
  }
  .creators__lists {
    position: relative;
  }
  .creators__link {
    position: absolute;
    display: block;
    width: 90%;
    margin-top: 20px;
    top: 170%;
    left: 20px;
    right: 25px;
    z-index: 5;
  }
  .creators__lists {
    height: 587px;
    overflow-y: scroll;
  }
}
.footer {
  display: flex;
  padding: 40px 82px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__container__title {
  display: flex;
  width: 327.414px;
  padding-right: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.footer__container__title__text {
  width: 238px;
  color: #CCC;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.footer__container__title__text2 {
  width: 238px;
  height: 18px;
  color: #CCC;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
}
.footer__container__title__icon {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.footer__explore {
  display: flex;
  width: 240px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.footer__explore__pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.footer__subscribe__form {
  display: flex;
  width: 420px;
  height: 60px;
  padding: 16px 0px 16px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: #FFF;
}
.footer__subscribe__form__input {
  border: none;
}
.footer__subscribe__form__btn {
  display: flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: #A259FF;
  color: #FFF;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  border: none;
  cursor: pointer;
}
.footer__subscribe__form__btn:hover {
  display: flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  border-radius: 20px;
  background: #010101;
  color: #FFF;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  border: 1px solid #A259FF;
}
.footer__hr {
  max-width: 1330px;
  height: 1px;
  border: 0.5px solid grey;
}
.footer__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1360px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (max-width: 960px) {
  .footer__container {
    display: flex;
    width: 690px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .footer__container__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .footer__container____explore {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .footer__container__subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .footer__container__subscribe__btn {
    display: flex;
    width: 420px;
    height: 60px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #FFF;
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 20px;
    background: #A259FF;
  }
  .footer__container__subscribe__btn:hover {
    display: flex;
    width: 420px;
    height: 60px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #FFF;
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border: 1px solid #A259FF;
    border-radius: 20px;
    background: #010101;
  }
}
@media only screen and (max-width: 375px) {
  .footer__container {
    display: flex;
    width: 315px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .footer__container__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .footer__container__explore {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .footer__container__subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .footer__container__subscribe__form {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
  .footer__container__subscribe__form__input {
    display: flex;
    width: 315px;
    height: 46px;
    padding: 16px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid #858584;
    background: var #FFF;
    flex: 1 0 0;
    color: var(--Background, #2B2B2B);
    font-size: 16px;
    line-height: 140%;
  }
  .footer__container__subscribe__form__btn {
    display: flex;
    width: 315px;
    height: 46px;
    padding: 16px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid #858584;
    background: #FFF;
  }
  .footer__container__subscribe__form__btn:hover {
    display: flex;
    width: 315px;
    height: 46px;
    padding: 16px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid #A259FF;
    background: #010101;
  }
  .footer__text__tex {
    color: #CCC;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }
}/*# sourceMappingURL=styles.css.map */