.works {
  background-color: #2B2B2B;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  &__title {
    font-size: 38px;
    font-weight: 600;
    line-height: 45.60px;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 22px;
    line-height: 35.20px;
    margin-bottom: 48px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    &-item {
      width: 100%;
      max-width: 330px;
      background: #3B3B3B; 
      border-radius: 20px;
      padding: 10px 30px 30px 30px;
      text-align: center;
      &__title {
        margin-top: 20px;
        font-size: 22px;
        font-weight: 600;
        line-height: 30.80px;
        margin-bottom: 10px;
      }
      &__text {
        line-height: 22.40px;
      }
      &__img {
        width: 100%;
        max-width: 250px;
      }
    }
  }
}
@media only screen and (max-width: 1027px) {
  .works {
    padding-top: 60px;
    padding-bottom: 60px;
    &__list {
      &-item {
        max-width: 300px;
        padding: 10px 20px 20px 30px;
        &__img {
          width: 100%;
          max-width: 180px;
        }
      }
    }
  }
}
@media only screen and (max-width: 834px) {
  .works {
    padding-top: 40px;
    padding-bottom: 40px;
    &__title {
      font-size: 28px;
      line-height: 39.20px;
    }
    &__text {
      font-size: 16px;
      margin-top: 40px;
      line-height: 22.40px;
    }
    &__list {
      gap: 20px;
      &-item {
        text-align: center;
        padding: 10px 15px 15px 20px;
        &__text {
          font-size: 12px;
          line-height: 16.80px;
        }
        &__title {
          font-size: 16px;
          line-height: 22.40px;
        }
        &__img {
          width: 100%;
          max-width: 180px;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .works {
    &__list {
      flex-direction: column;
      &-item {
        gap: 20px;
        width: 100%;
        max-width: 600px;
        display: flex;
        align-items: center;
        text-align: start;
        justify-content: space-between;
        &__card {
          width: 255px;
        }
      }
    }
  }
}
@media only screen and (max-width: 390px) {
  .works {
    &__list {
      &-item {
        padding: 15px;
        gap: 10px;
        &__img {
          width: 100%;
          max-width: 100px;
        }
      }
    }
  }
}
